extends _layouts/wrapper

block content
  - var titlePage = "Add sales"
  include _layouts/sidebar
  include _layouts/addSales
block scripts
  //script(src="assets/scripts/libs/vue.js")
  script( src="assets/scripts/achat/addSales.js")
