extends _layouts/wrapper

block content
  - var titlePage = "Gest category"
  include _layouts/sidebar
  include _layouts/Gestcat
block scripts
  script(src="assets/scripts/categories/gestCategories.js")
