doctype html
html(lang='en')
  //
    ================================================================================
    Item Name: Materialize - Material Design Admin Template
    Version: 4.0
    Author: PIXINVENT
    Author URL: https://themeforest.net/user/pixinvent/portfolio
    ================================================================================
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='msapplication-tap-highlight', content='no')
    meta(name='description', content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ")
    meta(name='keywords', content='materialize, admin template, dashboard template, flat admin template, responsive admin template,')
    title Materialize - Material Design Admin Template
    // Favicons
    link(rel='icon', href='images/favicon/favicon-32x32.png', sizes='32x32')
    // Favicons
    link(rel='apple-touch-icon-precomposed', href='images/favicon/apple-touch-icon-152x152.png')
    // For iPhone
    meta(name='msapplication-TileColor', content='#00bcd4')
    meta(name='msapplication-TileImage', content='images/favicon/mstile-144x144.png')
    // For Windows Phone
    // CORE CSS
    link(href='assets/styles/materialize.css', type='text/css', rel='stylesheet')
    link(href='assets/styles/style.css', type='text/css', rel='stylesheet')
    // Custome CSS
    link(href='css/custom/custom.css', type='text/css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet")
    // INCLUDED PLUGIN CSS ON THIS PAGE
    link(href='assets/vendors/perfect-scrollbar/perfect-scrollbar.css', type='text/css', rel='stylesheet')
    link(href='assets/vendors/flag-icon/css/flag-icon.min.css', type='text/css', rel='stylesheet')
  body
    // Start Page Loading
    //#loader-wrapper
    //  #loader
    //  .loader-section.section-left
    //  .loader-section.section-right
    // End Page Loading
    // ////////////////////////////////////////////////////////////////////////////
    // START HEADER
    header#header.page-topbar
      // start header nav
      .navbar-fixed
        nav.navbar-color.gradient-45deg-light-blue-cyan
          .nav-wrapper
            ul.left
              li
                h1.logo-wrapper
                  a.brand-logo.darken-1(href='index.html')
                    img(src='images/logo/materialize-logo.png', alt='materialize logo')
                    span.logo-text.hide-on-med-and-down Materialize
            .header-search-wrapper.hide-on-med-and-down
              i.material-icons search
              input.header-search-input.z-depth-2(type='text', name='Search', placeholder='Explore Materialize')
            ul.right.hide-on-med-and-down
              li
                a.waves-effect.waves-block.waves-light.translation-button(href='javascript:void(0);', data-activates='translation-dropdown')
                  span.flag-icon.flag-icon-gb
              li
                a.waves-effect.waves-block.waves-light.toggle-fullscreen(href='javascript:void(0);')
                  i.material-icons settings_overscan
              li
                a.waves-effect.waves-block.waves-light.notification-button(href='javascript:void(0);', data-activates='notifications-dropdown')
                  i.material-icons
                    | notifications_none
                    small.notification-badge.pink.accent-2 5
              li
                a.waves-effect.waves-block.waves-light.profile-button(href='javascript:void(0);', data-activates='profile-dropdown')
                  span.avatar-status.avatar-online
                    img(src='images/avatar/avatar-7.png', alt='avatar')
                    i
              li
                a.waves-effect.waves-block.waves-light.chat-collapse(href='#', data-activates='chat-out')
                  i.material-icons format_indent_increase
            // translation-button
            ul#translation-dropdown.dropdown-content
              li
                a.grey-text.text-darken-1(href='#!')
                  i.flag-icon.flag-icon-gb
                  |  English
              li
                a.grey-text.text-darken-1(href='#!')
                  i.flag-icon.flag-icon-fr
                  |  French
              li
                a.grey-text.text-darken-1(href='#!')
                  i.flag-icon.flag-icon-cn
                  |  Chinese
              li
                a.grey-text.text-darken-1(href='#!')
                  i.flag-icon.flag-icon-de
                  |  German
            // notifications-dropdown
            ul#notifications-dropdown.dropdown-content
              li
                h6
                  | NOTIFICATIONS
                  span.new.badge 5
              li.divider
              li
                a.grey-text.text-darken-2(href='#!')
                  span.material-icons.icon-bg-circle.cyan.small add_shopping_cart
                  |  A new order has been placed!
                time.media-meta(datetime='2015-06-12T20:50:48+08:00') 2 hours ago
              li
                a.grey-text.text-darken-2(href='#!')
                  span.material-icons.icon-bg-circle.red.small stars
                  |  Completed the task
                time.media-meta(datetime='2015-06-12T20:50:48+08:00') 3 days ago
              li
                a.grey-text.text-darken-2(href='#!')
                  span.material-icons.icon-bg-circle.teal.small settings
                  |  Settings updated
                time.media-meta(datetime='2015-06-12T20:50:48+08:00') 4 days ago
              li
                a.grey-text.text-darken-2(href='#!')
                  span.material-icons.icon-bg-circle.deep-orange.small today
                  |  Director meeting started
                time.media-meta(datetime='2015-06-12T20:50:48+08:00') 6 days ago
              li
                a.grey-text.text-darken-2(href='#!')
                  span.material-icons.icon-bg-circle.amber.small trending_up
                  |  Generate monthly report
                time.media-meta(datetime='2015-06-12T20:50:48+08:00') 1 week ago
            // profile-dropdown
            ul#profile-dropdown.dropdown-content
              li
                a.grey-text.text-darken-1(href='#')
                  i.material-icons face
                  |  Profile
              li
                a.grey-text.text-darken-1(href='#')
                  i.material-icons settings
                  |  Settings
              li
                a.grey-text.text-darken-1(href='#')
                  i.material-icons live_help
                  |  Help
              li.divider
              li
                a.grey-text.text-darken-1(href='#')
                  i.material-icons lock_outline
                  |  Lock
              li
                a.grey-text.text-darken-1(href='#')
                  i.material-icons keyboard_tab
                  |  Logout
      // end header nav
      // END HEADER
      // ////////////////////////////////////////////////////////////////////////////
      // START MAIN
      #main
        // START WRAPPER
        .wrapper
          // START LEFT SIDEBAR NAV
          aside#left-sidebar-nav
            ul#slide-out.side-nav.fixed.leftside-navigation
              li.user-details.cyan.darken-2
                .row
                  .col.col.s4.m4.l4
                    img.circle.responsive-img.valign.profile-image.cyan(src='images/avatar/avatar-7.png', alt='')
                  .col.col.s8.m8.l8
                    ul#profile-dropdown-nav.dropdown-content
                      li
                        a.grey-text.text-darken-1(href='#')
                          i.material-icons face
                          |  Profile
                      li
                        a.grey-text.text-darken-1(href='#')
                          i.material-icons settings
                          |  Settings
                      li
                        a.grey-text.text-darken-1(href='#')
                          i.material-icons live_help
                          |  Help
                      li.divider
                      li
                        a.grey-text.text-darken-1(href='#')
                          i.material-icons lock_outline
                          |  Lock
                      li
                        a.grey-text.text-darken-1(href='#')
                          i.material-icons keyboard_tab
                          |  Logout
                    a.btn-flat.dropdown-button.waves-effect.waves-light.white-text.profile-btn(href='#', data-activates='profile-dropdown-nav')
                      | John Doe
                      i.mdi-navigation-arrow-drop-down.right
                    p.user-roal Administrator
              li.no-padding
                ul.collapsible(data-collapsible='accordion')
                  li.bold
                    a.waves-effect.waves-cyan(href='index.html')
                      i.material-icons pie_chart_outlined
                      span.nav-text Dashboard
                  li.bold
                    a.waves-effect.waves-cyan(href='cards-basic.html')
                      i.material-icons cast
                      span.nav-text Cards
                  li.bold
                    a.waves-effect.waves-cyan(href='ui-basic-buttons.html')
                      i.material-icons insert_link
                      span.nav-text Buttons
                  li.bold
                    a.waves-effect.waves-cyan(href='form-layouts.html')
                      i.material-icons format_color_text
                      span.nav-text Forms
                  li.bold
                    a.waves-effect.waves-cyan(href='css-typography.html')
                      i.material-icons format_size
                      span.nav-text Typography
                  li.bold
                    a.waves-effect.waves-cyan(href='css-color.html')
                      i.material-icons invert_colors
                      span.nav-text Color
                  li.bold
                    a.waves-effect.waves-cyan(href='table-basic.html')
                      i.material-icons border_all
                      span.nav-text Table
                  li.bold
                    a.waves-effect.waves-cyan(href='ui-icons.html')
                      i.material-icons lightbulb_outline
                      span.nav-text Icons
                  li
                    a.btn.waves-effect.waves-light.gradient-45deg-red-pink(href='https://pixinvent.com/materialize-material-design-admin-template/landing/', target='_blank')
                      i.material-icons.white-text file_upload
                      | Upgrade to Pro!
            a.sidebar-collapse.btn-floating.btn-medium.waves-effect.waves-light.hide-on-large-only(href='#', data-activates='slide-out')
              i.material-icons menu
          // END LEFT SIDEBAR NAV
          // ////////////////////////////////////////////////////////////////////////////
          // START CONTENT
          section#content
            // start container
            .container
              // card stats start
              #card-stats
                .row.mt-1
                  .col.s12.m6.l3
                    .card.gradient-45deg-light-blue-cyan.gradient-shadow.min-height-100.white-text
                      .padding-4
                        .col.s7.m7
                          i.material-icons.background-round.mt-5 add_shopping_cart
                          p Orders
                        .col.s5.m5.right-align
                          h5.mb-0 690
                          p.no-margin New
                          p 6,00,00
                  .col.s12.m6.l3
                    .card.gradient-45deg-red-pink.gradient-shadow.min-height-100.white-text
                      .padding-4
                        .col.s7.m7
                          i.material-icons.background-round.mt-5 perm_identity
                          p Clients
                        .col.s5.m5.right-align
                          h5.mb-0 1885
                          p.no-margin New
                          p 1,12,900
                  .col.s12.m6.l3
                    .card.gradient-45deg-amber-amber.gradient-shadow.min-height-100.white-text
                      .padding-4
                        .col.s7.m7
                          i.material-icons.background-round.mt-5 timeline
                          p Sales
                        .col.s5.m5.right-align
                          h5.mb-0 80%
                          p.no-margin Growth
                          p 3,42,230
                  .col.s12.m6.l3
                    .card.gradient-45deg-green-teal.gradient-shadow.min-height-100.white-text
                      .padding-4
                        .col.s7.m7
                          i.material-icons.background-round.mt-5 attach_money
                          p Profit
                        .col.s5.m5.right-align
                          h5.mb-0 $890
                          p.no-margin Today
                          p $25,000
              // <div id="card-stats">
              // <div class="row">
              // <div class="col s12 m6 l3">
              // <div class="card">
              // <div class="card-content cyan white-text">
              // <p class="card-stats-title">
              // <i class="material-icons">person_outline</i> New Clients</p>
              // <h4 class="card-stats-number">566</h4>
              // <p class="card-stats-compare">
              // <i class="material-icons">keyboard_arrow_up</i> 15%
              // <span class="cyan text text-lighten-5">from yesterday</span>
              // </p>
              // </div>
              // </div>
              // </div>
              // <div class="col s12 m6 l3">
              // <div class="card">
              // <div class="card-content red accent-2 white-text">
              // <p class="card-stats-title">
              // <i class="material-icons">attach_money</i>Total Sales</p>
              // <h4 class="card-stats-number">$8990.63</h4>
              // <p class="card-stats-compare">
              // <i class="material-icons">keyboard_arrow_up</i> 70%
              // <span class="red-text text-lighten-5">last month</span>
              // </p>
              // </div>
              // </div>
              // </div>
              // <div class="col s12 m6 l3">
              // <div class="card">
              // <div class="card-content teal accent-4 white-text">
              // <p class="card-stats-title">
              // <i class="material-icons">trending_up</i> Today Profit</p>
              // <h4 class="card-stats-number">$806.52</h4>
              // <p class="card-stats-compare">
              // <i class="material-icons">keyboard_arrow_up</i> 80%
              // <span class="teal-text text-lighten-5">from yesterday</span>
              // </p>
              // </div>
              // </div>
              // </div>
              // <div class="col s12 m6 l3">
              // <div class="card">
              // <div class="card-content deep-orange accent-2 white-text">
              // <p class="card-stats-title">
              // <i class="material-icons">content_copy</i> New Invoice</p>
              // <h4 class="card-stats-number">1806</h4>
              // <p class="card-stats-compare">
              // <i class="material-icons">keyboard_arrow_down</i> 3%
              // <span class="deep-orange-text text-lighten-5">from last month</span>
              // </p>
              // </div>
              // </div>
              // </div>
              // </div>
              // </div>
              // card stats end
              // card widgets start
              #card-widgets
                .row
                  .col.s12.m4.l4
                    ul#task-card.collection.with-header
                      li.collection-header.teal.accent-4
                        h4.task-card-title My Task
                        p.task-card-date Sept 16, 2017
                      li.collection-item.dismissable
                        input#task1(type='checkbox')
                        label(for='task1')
                          | Create Mobile App UI.
                          a.secondary-content(href='#')
                            span.ultra-small Today
                        span.task-cat.cyan Mobile App
                      li.collection-item.dismissable
                        input#task2(type='checkbox')
                        label(for='task2')
                          | Check the new API standerds.
                          a.secondary-content(href='#')
                            span.ultra-small Monday
                        span.task-cat.red.accent-2 Web API
                      li.collection-item.dismissable
                        input#task3(type='checkbox', checked='checked')
                        label(for='task3')
                          | Check the new Mockup of ABC.
                          a.secondary-content(href='#')
                            span.ultra-small Wednesday
                        span.task-cat.teal.accent-4 Mockup
                      li.collection-item.dismissable
                        input#task4(type='checkbox', checked='checked', disabled='disabled')
                        label(for='task4') I did it !
                        span.task-cat.deep-orange.accent-2 Mobile App
                  .col.s12.m12.l4
                    #flight-card.card
                      .card-header.deep-orange.accent-2
                        .card-title
                          h4.flight-card-title Flight
                          p.flight-card-date June 18, Thu 04:50
                      .card-content-bg.white-text
                        .card-content
                          .row.flight-state-wrapper
                            .col.s5.m5.l5.center-align
                              .flight-state
                                h4.margin LDN
                                p.ultra-small London
                            .col.s2.m2.l2.center-align
                              i.material-icons.flight-icon local_airport
                            .col.s5.m5.l5.center-align
                              .flight-state
                                h4.margin SFO
                                p.ultra-small San Francisco
                          .row
                            .col.s6.m6.l6.center-align
                              .flight-info
                                p.small
                                  span.grey-text.text-lighten-4 Depart:
                                  |  04.50
                                p.small
                                  span.grey-text.text-lighten-4 Flight:
                                  |  IB 5786
                                p.small
                                  span.grey-text.text-lighten-4 Terminal:
                                  |  B
                            .col.s6.m6.l6.center-align.flight-state-two
                              .flight-info
                                p.small
                                  span.grey-text.text-lighten-4 Arrive:
                                  |  08.50
                                p.small
                                  span.grey-text.text-lighten-4 Flight:
                                  |  IB 5786
                                p.small
                                  span.grey-text.text-lighten-4 Terminal:
                                  |  C
                  .col.s12.m4.l4
                    #profile-card.card
                      .card-image.waves-effect.waves-block.waves-light
                        img.activator(src='images/gallary/3.png', alt='user bg')
                      .card-content
                        img.circle.responsive-img.activator.card-profile-image.cyan.lighten-1.padding-2(src='images/avatar/avatar-7.png', alt='')
                        a.btn-floating.activator.btn-move-up.waves-effect.waves-light.red.accent-2.z-depth-4.right
                          i.material-icons edit
                        span.card-title.activator.grey-text.text-darken-4 Roger Waters
                        p
                          i.material-icons perm_identity
                          |  Project Manager
                        p
                          i.material-icons perm_phone_msg
                          |  +1 (612) 222 8989
                        p
                          i.material-icons email
                          |  yourmail@domain.com
                      .card-reveal
                        span.card-title.grey-text.text-darken-4
                          | Roger Waters
                          i.material-icons.right close
                        p Here is some more information about this card.
                        p
                          i.material-icons perm_identity
                          |  Project Manager
                        p
                          i.material-icons perm_phone_msg
                          |  +1 (612) 222 8989
                        p
                          i.material-icons email
                          |  yourmail@domain.com
                        p
                          i.material-icons cake
                          |  18th June 1990
                        p
                        p
                          i.material-icons airplanemode_active
                          |  BAR - AUS
                        p
              // card widgets end
              // work collections start
              #work-collections
                .row
                  .col.s12.m12.l6
                    ul#projects-collection.collection.z-depth-1
                      li.collection-item.avatar
                        i.material-icons.cyan.circle card_travel
                        h6.collection-header.m-0 Projects
                        p Your Favorites
                      li.collection-item
                        .row
                          .col.s9
                            p.collections-title Web App
                            p.collections-content AEC Company
                          .col.s3
                            span.task-cat.cyan Development
                      li.collection-item
                        .row
                          .col.s9
                            p.collections-title Mobile App for Social
                            p.collections-content iSocial App
                          .col.s3
                            span.task-cat.red.accent-2 UI/UX
                      li.collection-item
                        .row
                          .col.s9
                            p.collections-title Website
                            p.collections-content MediTab
                          .col.s3
                            span.task-cat.teal.accent-4 Marketing
                      li.collection-item
                        .row
                          .col.s9
                            p.collections-title AdWord campaign
                            p.collections-content True Line
                          .col.s3
                            span.task-cat.deep-orange.accent-2 SEO
                  .col.s12.m12.l6
                    ul#issues-collection.collection.z-depth-1
                      li.collection-item.avatar
                        i.material-icons.red.accent-2.circle bug_report
                        h6.collection-header.m-0 Issues
                        p Assigned to you
                      li.collection-item
                        .row
                          .col.s7
                            p.collections-title
                              strong #102
                              |  Home Page
                            p.collections-content Web Project
                          .col.s2
                            span.task-cat.deep-orange.accent-2 P1
                          .col.s3
                            .progress
                              .determinate(style='width: 70%')
                      li.collection-item
                        .row
                          .col.s7
                            p.collections-title
                              strong #108
                              |  API Fix
                            p.collections-content API Project
                          .col.s2
                            span.task-cat.cyan P2
                          .col.s3
                            .progress
                              .determinate(style='width: 40%')
                      li.collection-item
                        .row
                          .col.s7
                            p.collections-title
                              strong #205
                              |  Profile page css
                            p.collections-content New Project
                          .col.s2
                            span.task-cat.red.accent-2 P3
                          .col.s3
                            .progress
                              .determinate(style='width: 95%')
                      li.collection-item
                        .row
                          .col.s7
                            p.collections-title
                              strong #188
                              |  SAP Changes
                            p.collections-content SAP Project
                          .col.s2
                            span.task-cat.teal.accent-4 P1
                          .col.s3
                            .progress
                              .determinate(style='width: 10%')
              // work collections end
              // ////////////////////////////////////////////////////////////////////////////
              // end container
              // END CONTENT
              // START RIGHT SIDEBAR NAV
              aside#right-sidebar-nav
                ul#chat-out.side-nav.rightside-navigation
                  li.li-hover
                    .row
                      .col.s12.border-bottom-1.mt-5
                        ul.tabs
                          li.tab.col.s4
                            a.active(href='#activity')
                              span.material-icons graphic_eq
                          li.tab.col.s4
                            a(href='#chatapp')
                              span.material-icons face
                          li.tab.col.s4
                            a(href='#settings')
                              span.material-icons settings
                      #settings.col.s12
                        h6.mt-5.mb-3.ml-3 GENERAL SETTINGS
                        ul.collection.border-none
                          li.collection-item.border-none
                            .m-0
                              span.font-weight-600 Notifications
                              .switch.right
                                label
                                  input(checked='', type='checkbox')
                                  span.lever
                            p Use checkboxes when looking for yes or no answers.
                          li.collection-item.border-none
                            .m-0
                              span.font-weight-600 Show recent activity
                              .switch.right
                                label
                                  input(checked='', type='checkbox')
                                  span.lever
                            p The for attribute is necessary to bind our custom checkbox with the input.
                          li.collection-item.border-none
                            .m-0
                              span.font-weight-600 Notifications
                              .switch.right
                                label
                                  input(type='checkbox')
                                  span.lever
                            p Use checkboxes when looking for yes or no answers.
                          li.collection-item.border-none
                            .m-0
                              span.font-weight-600 Show recent activity
                              .switch.right
                                label
                                  input(type='checkbox')
                                  span.lever
                            p The for attribute is necessary to bind our custom checkbox with the input.
                          li.collection-item.border-none
                            .m-0
                              span.font-weight-600 Show your emails
                              .switch.right
                                label
                                  input(type='checkbox')
                                  span.lever
                            p Use checkboxes when looking for yes or no answers.
                          li.collection-item.border-none
                            .m-0
                              span.font-weight-600 Show Task statistics
                              .switch.right
                                label
                                  input(type='checkbox')
                                  span.lever
                            p The for attribute is necessary to bind our custom checkbox with the input.
                      #chatapp.col.s12
                        .collection.border-none
                          a.collection-item.avatar.border-none(href='#!')
                            img.circle.cyan(src='images/avatar/avatar-1.png', alt='')
                            span.line-height-0 Elizabeth Elliott
                            span.medium-small.right.blue-grey-text.text-lighten-3 5.00 AM
                            p.medium-small.blue-grey-text.text-lighten-3 Thank you
                          a.collection-item.avatar.border-none(href='#!')
                            img.circle.deep-orange.accent-2(src='images/avatar/avatar-2.png', alt='')
                            span.line-height-0 Mary Adams
                            span.medium-small.right.blue-grey-text.text-lighten-3 4.14 AM
                            p.medium-small.blue-grey-text.text-lighten-3 Hello Boo
                          a.collection-item.avatar.border-none(href='#!')
                            img.circle.teal.accent-4(src='images/avatar/avatar-3.png', alt='')
                            span.line-height-0 Caleb Richards
                            span.medium-small.right.blue-grey-text.text-lighten-3 9.00 PM
                            p.medium-small.blue-grey-text.text-lighten-3 Keny !
                          a.collection-item.avatar.border-none(href='#!')
                            img.circle.cyan(src='images/avatar/avatar-4.png', alt='')
                            span.line-height-0 June Lane
                            span.medium-small.right.blue-grey-text.text-lighten-3 4.14 AM
                            p.medium-small.blue-grey-text.text-lighten-3 Ohh God
                          a.collection-item.avatar.border-none(href='#!')
                            img.circle.red.accent-2(src='images/avatar/avatar-5.png', alt='')
                            span.line-height-0 Edward Fletcher
                            span.medium-small.right.blue-grey-text.text-lighten-3 5.15 PM
                            p.medium-small.blue-grey-text.text-lighten-3 Love you
                          a.collection-item.avatar.border-none(href='#!')
                            img.circle.deep-orange.accent-2(src='images/avatar/avatar-6.png', alt='')
                            span.line-height-0 Crystal Bates
                            span.medium-small.right.blue-grey-text.text-lighten-3 8.00 AM
                            p.medium-small.blue-grey-text.text-lighten-3 Can we
                          a.collection-item.avatar.border-none(href='#!')
                            img.circle.cyan(src='images/avatar/avatar-7.png', alt='')
                            span.line-height-0 Nathan Watts
                            span.medium-small.right.blue-grey-text.text-lighten-3 9.53 PM
                            p.medium-small.blue-grey-text.text-lighten-3 Great!
                          a.collection-item.avatar.border-none(href='#!')
                            img.circle.red.accent-2(src='images/avatar/avatar-8.png', alt='')
                            span.line-height-0 Willard Wood
                            span.medium-small.right.blue-grey-text.text-lighten-3 4.20 AM
                            p.medium-small.blue-grey-text.text-lighten-3 Do it
                          a.collection-item.avatar.border-none(href='#!')
                            img.circle.teal.accent-4(src='images/avatar/avatar-9.png', alt='')
                            span.line-height-0 Ronnie Ellis
                            span.medium-small.right.blue-grey-text.text-lighten-3 5.30 PM
                            p.medium-small.blue-grey-text.text-lighten-3 Got that
                          a.collection-item.avatar.border-none(href='#!')
                            img.circle.cyan(src='images/avatar/avatar-1.png', alt='')
                            span.line-height-0 Gwendolyn Wood
                            span.medium-small.right.blue-grey-text.text-lighten-3 4.34 AM
                            p.medium-small.blue-grey-text.text-lighten-3 Like you
                          a.collection-item.avatar.border-none(href='#!')
                            img.circle.red.accent-2(src='images/avatar/avatar-2.png', alt='')
                            span.line-height-0 Daniel Russell
                            span.medium-small.right.blue-grey-text.text-lighten-3 12.00 AM
                            p.medium-small.blue-grey-text.text-lighten-3 Thank you
                          a.collection-item.avatar.border-none(href='#!')
                            img.circle.teal.accent-4(src='images/avatar/avatar-3.png', alt='')
                            span.line-height-0 Sarah Graves
                            span.medium-small.right.blue-grey-text.text-lighten-3 11.14 PM
                            p.medium-small.blue-grey-text.text-lighten-3 Okay you
                          a.collection-item.avatar.border-none(href='#!')
                            img.circle.red.accent-2(src='images/avatar/avatar-4.png', alt='')
                            span.line-height-0 Andrew Hoffman
                            span.medium-small.right.blue-grey-text.text-lighten-3 7.30 PM
                            p.medium-small.blue-grey-text.text-lighten-3 Can do
                          a.collection-item.avatar.border-none(href='#!')
                            img.circle.cyan(src='images/avatar/avatar-5.png', alt='')
                            span.line-height-0 Camila Lynch
                            span.medium-small.right.blue-grey-text.text-lighten-3 2.00 PM
                            p.medium-small.blue-grey-text.text-lighten-3 Leave it
                      #activity.col.s12
                        h6.mt-5.mb-3.ml-3 RECENT ACTIVITY
                        .activity
                          .col.s3.mt-2.center-align.recent-activity-list-icon
                            i.material-icons.white-text.icon-bg-color.deep-purple.lighten-2 add_shopping_cart
                          .col.s9.recent-activity-list-text
                            a.deep-purple-text.medium-small(href='#') just now
                            p.mt-0.mb-2.fixed-line-height.font-weight-300.medium-small Jim Doe Purchased new equipments for zonal office.
                          .recent-activity-list.chat-out-list.row.mb-0
                            .col.s3.mt-2.center-align.recent-activity-list-icon
                              i.material-icons.white-text.icon-bg-color.cyan.lighten-2 airplanemode_active
                            .col.s9.recent-activity-list-text
                              a.cyan-text.medium-small(href='#') Yesterday
                              p.mt-0.mb-2.fixed-line-height.font-weight-300.medium-small Your Next flight for USA will be on 15th August 2015.
                          .recent-activity-list.chat-out-list.row.mb-0
                            .col.s3.mt-2.center-align.recent-activity-list-icon.medium-small
                              i.material-icons.white-text.icon-bg-color.green.lighten-2 settings_voice
                            .col.s9.recent-activity-list-text
                              a.green-text.medium-small(href='#') 5 Days Ago
                              p.mt-0.mb-2.fixed-line-height.font-weight-300.medium-small Natalya Parker Send you a voice mail for next conference.
                          .recent-activity-list.chat-out-list.row.mb-0
                            .col.s3.mt-2.center-align.recent-activity-list-icon
                              i.material-icons.white-text.icon-bg-color.amber.lighten-2 store
                            .col.s9.recent-activity-list-text
                              a.amber-text.medium-small(href='#') 1 Week Ago
                              p.mt-0.mb-2.fixed-line-height.font-weight-300.medium-small Jessy Jay open a new store at S.G Road.
                          .recent-activity-list.row
                            .col.s3.mt-2.center-align.recent-activity-list-icon
                              i.material-icons.white-text.icon-bg-color.deep-orange.lighten-2 settings_voice
                            .col.s9.recent-activity-list-text
                              a.deep-orange-text.medium-small(href='#') 2 Week Ago
                              p.mt-0.mb-2.fixed-line-height.font-weight-300.medium-small voice mail for conference.
                          .recent-activity-list.chat-out-list.row.mb-0
                            .col.s3.mt-2.center-align.recent-activity-list-icon.medium-small
                              i.material-icons.white-text.icon-bg-color.brown.lighten-2 settings_voice
                            .col.s9.recent-activity-list-text
                              a.brown-text.medium-small(href='#') 1 Month Ago
                              p.mt-0.mb-2.fixed-line-height.font-weight-300.medium-small Natalya Parker Send you a voice mail for next conference.
                          .recent-activity-list.chat-out-list.row.mb-0
                            .col.s3.mt-2.center-align.recent-activity-list-icon
                              i.material-icons.white-text.icon-bg-color.deep-purple.lighten-2 store
                            .col.s9.recent-activity-list-text
                              a.deep-purple-text.medium-small(href='#') 3 Month Ago
                              p.mt-0.mb-2.fixed-line-height.font-weight-300.medium-small Jessy Jay open a new store at S.G Road.
                          .recent-activity-list.row
                            .col.s3.mt-2.center-align.recent-activity-list-icon
                              i.material-icons.white-text.icon-bg-color.grey.lighten-2 settings_voice
                            .col.s9.recent-activity-list-text
                              a.grey-text.medium-small(href='#') 1 Year Ago
                              p.mt-0.mb-2.fixed-line-height.font-weight-300.medium-small voice mail for conference.
              // END RIGHT SIDEBAR NAV
              // END WRAPPER
              // END MAIN
              // ////////////////////////////////////////////////////////////////////////////
              // START FOOTER
              footer.page-footer.gradient-45deg-light-blue-cyan
                .footer-copyright
                  .container
                    span
                      | Copyright ©
                      script(type='text/javascript').
                        document.write(new Date().getFullYear());
                      a.grey-text.text-lighten-2(href='http://themeforest.net/user/pixinvent/portfolio?ref=pixinvent', target='_blank') PIXINVENT
                      |  All rights reserved.
                    span.right.hide-on-small-only
                      | Design and Developed by
                      a.grey-text.text-lighten-2(href='https://pixinvent.com/') PIXINVENT
              // END FOOTER
              //
                ================================================
                Scripts
                ================================================
              // jQuery Library
              script(type='text/javascript', src='vendors/jquery-3.2.1.min.js')
              // materialize js
              script(type='text/javascript', src='js/materialize.min.js')
              // scrollbar
              script(type='text/javascript', src='vendors/perfect-scrollbar/perfect-scrollbar.min.js')
              // plugins.js - Some Specific JS codes for Plugin Settings
              script(type='text/javascript', src='js/plugins.js')
              // custom-script.js - Add your own theme custom JS
              script(type='text/javascript', src='js/custom-script.js')
