#content-wrapper.d-flex.flex-column
  // Main Content
  #content
    include header
    // Begin Page Content
    .container-fluid
      // Page Heading
      h1.h4.mb-4.text-gray-800 #{titlePage}
      .addSales.mb-3
        .card.mb-3
          .card-body.toSelect.py-2
            h4.card-header.mb-3 Choisir un produit
        .card.formSales


