// Content Wrapper
#content-wrapper.d-flex.flex-column
  // Main Content
  #content
    include header
    // Begin Page Content
    .container-fluid
      // Page Heading
      h1.h3.mb-4.text-gray-800 #{titlePage}
      .row.gestProducts
