.meteo
  .card.horizontal
    .card-image.icon-weather
      canvas(width="120" height="120", class="icon")
    .card-stacked
      .card-content
        h3
          small
            span.weather-temp
              | temp
            span.wheater-dergee °C
        span.weather-location
          | Location

        p.weather-description I am a very simple card. I am good at containing small bits of information.
      .card-action
        a(href='#') This is a link
